<!-- Scripts for jquery validation -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<!--------------------------->
<script type="text/javascript" src="/scripts/jqueryValidation.js"></script>