<#import "/spring.ftl" as spring />
<!DOCTYPE html>
<html lang="en">
<head>
    <#include "./partials/head.ftlh">
    <title>Edit Repair</title>
</head>

<body>

<#include "./partials/top-nav.ftlh">

<div class="container-fluid">
    <div class="row">
        <#include "partials/repair-side-nav.ftlh">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <#include "./forms/edit-repair-form.ftlh">
                </div>
                <div class="col-3"></div>
            </div>
        </main>
    </div>
</div>

<#include "./partials/basic-scripts.ftlh">
<#include "./partials/datepicker-script.ftlh">
<#include "./partials/validation-scripts.ftlh">
<script>
    feather.replace();
</script>
</body>
</html>