<#import "/spring.ftl" as spring />
<!DOCTYPE html>
<html lang="en">
<head>
    <#include "./partials/head.ftlh">
    <title>Search Owner</title>
</head>
<body>

<#include "./partials/top-nav.ftlh">

<div class="container-fluid">
    <div class="row">
        <#include "partials/owner-side-nav.ftlh">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="row">
                <div class="col-md-12 order-md-1">
                    <#include "forms/search-owner-form.ftlh"/>
                </div>
            </div>
        </main>
    </div>

    <#include "./partials/basic-scripts.ftlh">
    <#include "./partials/validation-scripts.ftlh">
    <script>
        feather.replace();
    </script>
</body>
</html>